<form method="get" action="/quizes/<%= quiz.id %>/answer">
	Pregunta: <%= quiz.pregunta %> <p>
	<input type="text" name="respuesta" value="Respuesta">
	<input type="submit" value="Enviar">
</form>

<p><strong>Comentarios:</strong></p>
<% for(index in quiz.comments) { %>
	<p><%= +index+1 %>- <%= quiz.comments[index].texto %></p>
<% } %>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>

<p><a href="/quizes"><button>Volver</button></a></p>